{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> parsonal portfilio </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> 
    

   
 
   
</head>
<body>
<!-- ==================== Navebar section start================= -->
     <header class="header">
          <a href="#home" class="logo">Subir <span>Datta.</span></a>

          <div class="bx bx-menu" id="menu-icon"></div>

          <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#skills" >Skills</a>
            <a href="#project" >Project</a>
            <a href="#contact">Contact</a>

            <span class="active-nav"></span>
            
    </nav>
    </header>
<!--===================== home section start ===================== -->
    <section class="home" id="home">
        <div class="home-content">
            <h1>Hi, I'm <span>Subir Datta</span></h1>
            <div class="text-animate">
                <h3>Front-End Developer.</h3>
            </div>
            <p>Welcome to my portfolio! I am Subir Datta, a passionate Front-End Developer and Django Developer with over a year of experience in creating dynamic and responsive web applications.
            My journey in web development has equipped me with a solid foundation in both front-end technologies and back-end frameworks, allowing me to build seamless user experiences and robust applications.</p>
           <div class="btn-box">
              <a href="#contact" class="btn">Hire Me</a>
              
      </div>
    </div>
    <div class="home-sci">
        <a href="https://www.facebook.com/profile.php?id=61555888274486"><i class='bx bxl-facebook'></i></a>
        <a href="https://github.com/subir0170"><i class='bx bxl-github'></i></a>
        <a href="https://x.com/SubirDatta22"><i class='bx bxl-twitter'></i></a>
        <a href="https://www.linkedin.com/in/subir-datta-5a109a2b7/"><i class='bx bxl-linkedin'></i></a>
    </div>
    </section>
    <div class="home-imghover"></div>
<!--============================ home section end ===================== -->

<!--========================== About section start ===================== -->
 <section class="about" id="about">
    <h2 class="heading">About <span>Me</span></h2>
    <div class="about-img">
        <img src="{% static 'img/img1.png' %}" alt="">
        <span class="circle-spin"></span>
    </div>
    <div class="about-content">        
        <h3>Front-End Developer</h3>
        <p>Hi,I'm Subir Datta, a passionate and creative Frontend Developer with over 1 year of hands-on experience in designing and building captivating web experiences. Currently pursuing a Diploma in Computer Engineering, I thrive on transforming ideas into functional, aesthetic digital solutions.Hailing from Narsingdi, Bangladesh, I have cultivated a versatile skill set, including HTML, CSS, JavaScript, Python, Django, SQLite, and Git. My approach blends technical expertise with a keen eye for design, ensuring every project stands out with a unique and polished touch.I am driven by curiosity and a relentless pursuit of innovation, always looking for opportunities to craft something extraordinary. Let's connect and bring bold ideas to life together!</p>

     

 </section>
<!--========================== About section end ======================= -->

<!--=========================== Skills section start======================-->
    <section class="skills" id="skills">
        <h2 class="heading">My <span>Skills</span></h2>

        <div class="skills-row">
            <div class="skills-columm">
                <h3 class="title">Technical Skills</h3>
                <div class="skills-box">
                    <div class="skills-content">


                        <div class="progress">
                            <h3>HTML <span>95%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>CSS <span>80%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>Javascript <span>60%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                        <div class="progress">
                            <h3>PYTHON <span>90%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                        <div class="progress">
                            <h3>DJANGO <span>80%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="skills-columm">
                <h3 class="title">Professional Skills</h3>
                <div class="skills-box">
                    <div class="skills-content">


                        <div class="progress">
                            <h3>Communication <span>90%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>Analysis <span>75%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>Learning <span>80%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                        <div class="progress">
                            <h3>Coding <span>90%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                        <div class="progress">
                            <h3>problem solving <span>70%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--=================================Skills section end========================-->


<!--=================================project section start========================-->

 <section class="project" id="project">
    <h2 class="heading">My <span>Project</span></h2>

    <div class="project-container">
        <div class="project-box">
            <img src="{% static 'img/project img1.png' %}" alt="">
            <div class="project-layer">
                <h4>prezi</h4>
                <p>Prezi is a cloud-based presentation platform designed to make presentations engaging, interactive, and visually dynamic.</p>
                <a href="https://prezi.com/"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="project-box">
            <img src="{% static 'img/project img2.jpg' %}" alt="">
            <div class="project-layer">
                <h4>E-Commerce</h4>
                <p>Developed a responsive E-Commerce website with user authentication, product management, and secure payment integration.</p>
                <a href="https://kenakata-ecommerceg.onrender.com/"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="project-box">
            <img src="{% static 'img/project img3.png' %}" alt="">
            <div class="project-layer">
                <h4>Disqus</h4>
                <p>Disqus is a third-party system that provides hundreds of thousands of sites with a commenting system.</p>
                <a href="https://disqus.com/"><i class='bx bx-link-external'></i></a>
            </div>
        </div>
        <div class="project-box">
            <img src="{% static 'img/project img4.png' %}" alt="">
            <div class="project-layer">
                <h4>BitBucket</h4>
                <p>The BitBucket team opted to use Django for several reasons. The first one is the thousands of developers in its community.</p>
                <a href="https://bitbucket.org/"><i class='bx bx-link-external'></i></a>
            </div>
        </div>
        <div class="project-box">
            <img src="{% static 'img/project img5.png' %}" alt="">
            <div class="project-layer">
                <h4>PADI Travel</h4>
                <p>The product's technology stack, which includes Python and Django, has enabled the implementation of a high-load booking engine.</p>
                <a href="https://travel.padi.com/"><i class='bx bx-link-external'></i></a>
            </div>
        </div>
        <div class="project-box">
            <img src="{% static 'img/project img6.png' %}" alt="">
            <div class="project-layer">
                <h4>kenakata</h4>
                <p>responsive E-Commerce website featuring user authentication,product management,secure payments and ordertracking.</p>
                <a href="https://kenakata-ecommerceg.onrender.com/"><i class='bx bx-link-external'></i></a>
            </div>
        </div>
    </div>
 </section>

<!--=================================project section end========================-->

<!--========================== contact section start============================-->

<section class="contact" id="contact">
        <h2 class="heading">Contact <span>me</span></h2>       

        <form action="" method="POST">
            {% csrf_token %}
            <div class="input-box">
                <div class="input-field">
                    <input type="text" name="name" placeholder="Full Name" required>
                    <span class="focus"></span>

                </div>
                <div class="input-field">
                    <input type="email" name="email" placeholder="Email" required>
                    <span class="focus"></span>

                </div>
            </div>
            <div class="input-box">
                <div class="input-field">
                    <input type="number" name="number" placeholder="Phone Number" required>
                    <span class="focus"></span>

                </div>
                <div class="input-field">
                    <input type="text" name="subject" placeholder="Email Subject" required>
                    <span class="focus"></span>

                </div>
            </div>

            <div class="textarea-field">
                 <textarea name="message" id="" cols="30" rows="10" placeholder="your massege" required></textarea>
                 <span class="focus"></span>
         </div>
        <div class="btn-box btns">
            <button type="submit" class="btn">submit</button>
        </div>
        
        </form>
    </section>
    

<!--============================ contact sections end =======================-->

<!--============================ foter sections start =======================-->

    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2025 by subir Datta | All Rights Reserved</p>
        </div>
        <div class="footer-iconTop">
            <a href="#home"><i class='bx bx-up-arrow-alt'></i> </a>
        </div>
    </footer>
<!--========================= foter sections end ==============================-->

<!--========================= js sections start==============================-->
    
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    {% if messages %}
        const messages = [
            {% for msg in messages %}
                '{{ msg }}',
            {% endfor %}
        ];

        messages.forEach((message) => {
            swal({
                text: message,
                icon: "success", 
                button: "Okay", 
            });
        });
    {% endif %}
</script>


 
<!--========================= js sections end ==============================-->
    
</body>
</html>